name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v6
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
        - name: Checkout Building Blocks
          uses: actions/checkout@v6
          with:
            repository: CSA-FEDERATE/Proposed-BuildingBlocks
            path: building-blocks
            token: ${{ secrets.GITHUB_TOKEN }}
        - name: Set up Python
          uses: actions/setup-python@v6
          with:
            python-version: '3.13'
        - name: Run CI scripts
          run: |
            chmod +x ci/transform.sh
            ci/transform.sh building-blocks building-blocks_structure.json
        - name: Build table view
          uses: Teebra/JSON-to-HTML-table@v2.0.0
          with:
            json-file: building-blocks_structure.json
        - name: Upload HTML Table to Artifacts
          uses: actions/upload-artifact@v6
          with:
            name: output_html 
            path: output.html # The created file's name is output.html. Name cannot be changed